/********************************** modal *****************************************/


/***********************************************************************************************/



.tarjeta{
    width: 400px;
    height: 300px;
    border:3px solid  rgb(54, 91, 109) ;
    border-radius: 5px;
    background-image:linear-gradient(90deg ,var(--color-primario),var(--color-secundario) );
    
    color:rgb(54, 91, 109)  ;
    
    
}

   

.tarjeta-content{
    width: 380px;
    height: 256px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    
}

.imgTarjeta{
    width: 500%;
    height: 65%;
    border:3px solid  rgb(54, 91, 109) ;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 3px;
}

.data{
    width: 45%;
    height: 65%;
    margin-top: 3px;
    margin-right: 3px;
    padding-left: 5%;
    
}

h4{
    color:rgb(54, 91, 109)  ;
}

.info{
  width: 80%;
  height: 30%;
  margin-top: 3px;
  margin-left: 5px;  
  overflow: hidden; /* Oculta el texto que sobrepase */
  text-overflow: ellipsis; /* Muestra los tres puntos */
}


.precio{
    color:green;
    font-size: 2rem;
    font-weight: 700;
}

.menuVotar{
    visibility: hidden;
}

/***********************************************************************************/
