
.tarjeta{
    width: 310px;
    height: 256px;
    border:3px solid  rgb(54, 91, 109) ;
    border-radius: 5px;
    background-image:linear-gradient(90deg ,var(--color-primario),var(--color-secundario) );
    margin: 5px;
    color:rgb(54, 91, 109)  ;
    display: flex;
    flex-wrap: wrap;
    
}

.imgTarjeta{
    width: 40%;
    height: 65%;
    border:3px solid  rgb(54, 91, 109) ;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 3px;
}

.data{
    width: 45%;
    height: 65%;
    margin-top: 3px;
    margin-right: 3px;
    padding-left: 5%;
}

h4{
    color:rgb(54, 91, 109)  ;
}

.info{
  width: 80%;
  height: 30%;
  margin-top: 3px;
  margin-left: 5px;  
  overflow: hidden; /* Oculta el texto que sobrepase */
  text-overflow: ellipsis; /* Muestra los tres puntos */
}


.precio{
    color:green;
    font-size: 2rem;
    font-weight: 700;
}

.menuVotar{
    visibility: hidden;
}


/********************************** modal *****************************************/
.abrirModal{
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    background-image:linear-gradient(90deg ,var(--color-primario),var(--color-secundario) );
}

.abrirModal h4{
    font-size: 5rem;
}
.abrirModal .precio{
    font-size: 5rem;
}

.abrirModal .menuVotar{
    visibility: visible;
}

.abrirModal .cancelar{
     position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: red;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: white;
    font-weight: bold;
}

