.tarjetaBlog {
    width: 310px;
    height: 256px;
    border: 3px solid rgb(54, 91, 109);
    border-radius: 5px;
    background-image: linear-gradient(90deg, var(--color-primario), var(--color-secundario));
    margin: 5px;
    color: rgb(54, 91, 109);
    display: flex;
    flex-wrap: wrap;
  }
  
  .tarjetaBlog .btnCerrar {
    visibility: hidden;
  }
  
  .tarjetaBlogModal {
    position: relative;
    background-image: linear-gradient(90deg, var(--color-primario), var(--color-secundario));
    width: 100%;
    height: 100vh;
    z-index: 999;
  }
  
  .tarjetaBlogModal div {
    background-color: white;
    width: 90%;
    margin: 5% auto;
  }
  
  .tarjetaBlogModal .btnAbrir {
    visibility: hidden;
  }
  
  .btnCerrar {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: red;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      color: white;
      font-weight: bold;
    }
    
  
  .conenedorParrafo {
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 5%;
  }
  
  .conenedorParrafo p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .imgTarjetaBlog {
    width: 80%;
    height: 60%;
    margin: auto;
    border-radius: 5px;
    border: 3px solid rgb(54, 91, 109);
  }
  
  
  .descripcionTarjetaBlog {
    margin-left: 10%;
  }
  