.contenedor {
  background-image: url('../assets/fondo.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
}


.formulario{

    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    padding: 3rem;
    margin-left: 20%;
    margin-bottom: 3%;
    box-sizing: border-box;
  }
  
  
  label {
    padding-bottom: 1%;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
  }
  
  .estilo-adicional-boton {
    border-color: rgb(128, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 0.70rem;
    margin-top: 1rem;
    width: 6rem;
    cursor: pointer;
  }  


@media only screen and (max-width: 768px) {
  .formulario {
    width:60%;
    margin-left: 10%;
    padding: 1.5rem;
  }
 .estilo-adicional-boton {
   width: 50%;
 }
}